extends layout

block content
  h1= title
  - let cars = results;
  
  div(class="row")
    div(class="container-fluid")
        div(class="row")
            each value, index in cars 
                div(class="col-sm-12")
                    div(class="row")
                        div(class="col-sm-2" onclick=`buy(${index})`) Car Name: #{value.name}
                        div(class="col-sm-2" onclick=`buy(${index})`) Car Color: #{value.color}
                        div(class="col-sm-2" onclick=`buy(${index})`) Car Cost: #{value.cost}

  script.
    function buy(index){
        alert('You purchased item '+index);
    }             

