extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let carDetails = toShow
    - let actionid = "/resource/cars/" + carDetails._id  
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='carAttr mr-3') Car ID is: 
        div #{carDetails._id} 
      div.row 
        div(class='carAttr mr-3') Car Name is: 
        div #{carDetails.name} 
      div.row 
        div(class='carAttr mr-3') Car Color is: 
        div #{carDetails.color} 
      div.row 
        div(class='carAttr mr-3') Car Cost is: 
        div #{carDetails.cost} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the car collection 
      window.location.href='/car' 
    } 
  script. 
    function deleteOnid() { 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/car' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 